<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Expand at md</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateItem">Add item</button>
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" ng-If="CurrentUser==null">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#UserModal">Register</a>
        </li>
        <li class="nav-item" ng-If="CurrentUser==null">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#UserModal">Login</a>
        </li>
        <li class="nav-item" *ngIf="CurrentUser">
          <a class="nav-link" >Hi {{CurrentUser.userName}}</a>
        </li>
        <li class="nav-item" *ngIf="CurrentUser">
          <a class="nav-link" href="#" (click)="logoutUser()">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="#">Action1</a>
            <a class="dropdown-item" href="#">Action2</a>
            <a class="dropdown-item" href="#">Action3</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>

  <br>
  <p>main-comp works!</p>
  <br>

  <app-spy-items></app-spy-items>
  <app-add-item></app-add-item>
  <app-user (LoginEvent)="ShowUsername2($event)"></app-user>