<!-- Modal -->
<div class="modal fade" id="CreateItem" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <p>add-item works!</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      
      <div class="modal-body">

        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          
          <input type="hidden" name="id" [value]="service.formData.id">
        <div class="md-form">
          <input type="text" id="form2" class="form-control" name="Name" #Name="ngModel" [(ngModel)]="service.formData.name" required>
          <label for="form2">Item name</label>
        </div>

        <div class="md-form">
          <input type="text" id="form3" class="form-control" name="Price" #Price="ngModel" [(ngModel)]="service.formData.price" required>
          <label for="form3">Item price</label>
        </div>

        <div class="md-form">
          <input type="text" id="form4" class="form-control" name="Type" #Type="ngModel" [(ngModel)]="service.formData.type" required>
          <label for="form4">Item type</label>
        </div>

        <div class="md-form">
          <input type="text" id="form5" class="form-control" name="Description" #Description="ngModel" [(ngModel)]="service.formData.description">
          <label for="form5">description</label>
        </div>

        <div class="md-form">
          <input type="text" id="form6" class="form-control" name="OwnerName" disabled>
          <label for="form6">Owner name</label>
        </div>

      <div class="text-center">
        <button class="btn btn-deep-purple" [disabled]="form.invalid">Add item</button>
      </div>

      </form>
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>