<mat-card style="max-width: 245px; background-color: rgb(194, 211, 117); margin: 5px 2px;">
    <mat-card-header>
        <!--div mat-card-avatar class="example-header-image"></div-->
        <mat-card-title>Item1</mat-card-title>
        <mat-card-subtitle>Item type</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/abstract 3d.png" alt="Photo of a shapes" height="200px">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

<p>item-page works!</p>